@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header__text
		opacity: 1
		color: #000
	.features__item 
		margin-bottom: 50px
	.resposive--color
		color: #282828
	.send__text
		width: 100%
		margin-bottom: 30px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.header__title
		font-size: 40px
		padding: 0 20px
	.design__content 
		margin-top: 0
		padding-top: 50px
	.resposive
		background-position: left top
	.card__compani
		text-align: center
	.card__compani-item
		display: inline-block
	.awesone__desc
		margin-bottom: 40px
	.footer__startEx
		text-align: center
	.footer__support
		text-align: center
		margin-bottom: 20px
	.footer__About
		text-align: center
		margin-bottom: 20px
	.footer-logo__wrap
		display: inline-block
	.footer__title-wrap
		text-align: center
	.footer__form-wrap
		margin-left: 210px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.header__title
		font-size: 40px
		line-height: 60px
	.header__content 
		margin-top: 80px
	.title
		font-size: 35px
	.features
		padding-bottom: 70px
	.button__wrap
		width: 100%
	.send__btn
		width: 100%
	.footer__form-wrap
		margin-left: 40px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.header__content 
		margin-top: 30px
	.header__title
		font-size: 35px
		line-height: 50px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

